<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row mt-4">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Zapisz</button>
          <button type="button" class="btn btn-danger mx-2">Odrzuć zmiany</button>
        </div>
      </div>
      <div class="col-xs-12">

        <div class="row">
          <div class="col-xs-2">
            <div class="form-group">
              <label for="id">Identyfikator wiersza</label>
              <input
                type="number"
                id="id"
                class="form-control"
                required
                maxlength="64">
            </div>
          </div>

          <div class="col-xs-2">
            <div class="form-group">
              <label for="dictId">Identyfikator Słownika</label>
              <input
                type="text"
                id="dictId"
                class="form-control"
                required
                maxlength="64">
            </div>

          </div>
          <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <label for="dataCode">Kod wartości słownikowej</label>
                <input
                  type="string"
                  id="dataCode"
                  class="form-control"
                  required
                  maxlength="256">
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <label for="dataValue">Etykieta</label>
                <input
                  type="string"
                  id="dataValue"
                  class="form-control"
                  required>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-xs-12">
              <div class="form-group">
                <label for="description">Opis wiersza słownika</label>
                <textarea
                  type="string"
                  id="description"
                  class="form-control"
                  rows="6"
                  required
                  maxlength="4096">
                </textarea>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-xs-4">
                <label>Czy aktywny?</label>
              <input class="mx-2" type="radio">

            </div>
            <div class="col-xs-4">
              <label>data aktywności?</label>
              <input class="mx-2" type="date">

            </div>

          </div>
        </div>

      </div>

    </form>
  </div>
</div>
