<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Zapisz</button>
          <button type="button" class="btn btn-danger mx-2">Odrzuć zmiany</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Nazwa Słownika</label>
            <input
              type="text"
              id="name"
              class="form-control"
              required
              maxlength="128">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Opis Słownika</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              rows="6"
              maxlength="4096">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
